* { padding: 0; margin: 0; }

body { background-color: #121212; min-width: 360px; }

main { height: 100%; }

.select-center { text-align-last: center; }

input { text-align: center; }

button:hover, a { cursor: pointer; }
button.edit { background-color: none; padding: 0; border: none; background: none; cursor: pointer; }

a, a:hover, a:focus { color: #6699ff; }

strong { color: #ffdd22e6}

h1, .h1cell { font-size: 1.48rem;}
h2, .h2cell { font-size: 1.38rem; color: #ffdd22e6; text-transform: uppercase; }
h3, .h3cell { font-size: 1.28rem; color: #8066af; text-transform: uppercase; }
h4, .h4cell { font-size: 1.18rem; color: #dd8100; }
h5, .h5cell { font-size: 1.18rem; color: #ffdd22e6; }
h6, .h6cell { font-size: 1rem; color: #ffffffde; }
.h6cell { text-align: justify; text-justify: inter-word; font-weight: 300; }
.profile-summary h3, .list-group h3, .list-group h4, .list-group h5,
.h3cell, .h4cell, .h5cell { font-size: 1rem; }

.topbar-title { font-size: 1rem; color: #ffdd22e6;
                text-transform: uppercase; text-decoration: none;}
.topbar-title:hover { color: #ffdd22e6; }
.topbar-title:visited { color: #ffdd22e6; }
  
.small_hide {display: none;}

.form-floating {padding: 0;}
.form-floating textarea {height: 120px;}
label {color: #6d6d6d; }

/* ---- OfficerProfile.js - Part of Photo Carousel ---------------------- */
.carousel-item:hover .middle { opacity: 1; }
.cc-bg { background-color: #55555588; border-radius: 1em; left: 4px; width: 96%;}
.left-delete { position: absolute; top: 4px; left: 4px; width: 40px; height: 40px;}
.middle { opacity: 1; text-align: center; }
.officer-pics { max-height: 120px; max-width: 120px; }
/* ---------------------------------------------------------------------- */

/* ---- Background colour of event list on officer profile -------------- */
/* .event-list>tbody>tr:nth-child(even) { background-color: #30303088; border-radius: 4px; } */
.event-list td {padding: 2px;}
td {text-align: left; padding: 2px 4px 2px 4px !important;}
/* ---------------------------------------------------------------------- */

/* ---- ModalUpload.js - dimensions on area where pic is uploaded ------- */
.drop-zone { height: 350px; }
.image-preview { height: 250px; }
.preview-image { max-height: 350px; }
/* ---------------------------------------------------------------------- */

/* ---- starship search results box ------------------------------------- */
.results {
  position: absolute; z-index: 5; width: 100%;
  background-color: #f9f9f9; box-shadow: 0px 8px 16px 0px #12121233;
  color: #121212; text-align: center;
}
.searchContainer { position: relative;  display: inline-block; }

.starship-pics { height: auto; max-width: 300px; }
.loading {height: 32px; width: auto;}

.suggestion {
  cursor: pointer; z-index: 5;
  border: 0, 1px, 1px, 1px; background-color: #f9f9f9;
  border-right: 1px solid #121212; border-left: 1px solid #121212;
}

.suggestion:hover { background-color: #808080; }

/* ---------------------------------------------------------------------- */

.nav-buffer { height: 64px; }

.load-img {min-width: 45vw; max-width: 325px;}
.search-list {width: auto; height: 80px;}

.input-size { max-width: 400px;}

.justify-text { text-align: justify; text-justify: inter-word; }

.container {
  margin: 0.5rem auto;
  height: 100%; width: 100%;
  max-width: 960px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "clock"
    "header"
    "main";
  color: #eeeeee;
  font-family: oswald, helvetica, serif;
  font-weight: 300;
}

.header {
  grid-area: header;
}

.main_body {
  grid-area: main;
  overflow-x: hidden;
  /* min-height: calc(100vh - 112px); */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.topbar { grid-area: clock; text-transform: uppercase; background: #9999ff9e;
          display: flex; justify-content: flex-end; line-height: 1; }

.title-wrapper { position: relative; color: #9999ffe6; display: inline-block; align-items: center;
                 background-color: #121212; margin-right: 3rem; padding: 0 1rem; grid: flex; }

.title-wrapper::before,
.title-wrapper::after {
  content: ""; position: absolute; left: -2rem;
  top: 0; bottom: 0; width: 0.5rem; background-color: #121212;
}

.title-wrapper::after {
  left: -3rem; width: 0.5rem;
}

#main_header {
  position: relative; z-index: 1; margin: 0.5rem 0 0 0;
  background-color: #9999ff9e; border-radius: 0 0 0 1.62rem;
  padding-bottom: 0.5rem;
}

#main_header::before,
#main_header::after {
  content: ""; position: absolute; z-index: 1; left: 0; top: 0;
  height: 33.3%; height: calc(33.3% - 0.5rem); width: 10%;
  background-color: #12121254; border-bottom: 0.5rem solid #0f0f0f;
}

#main_header::after {
  left: 50%; top: auto; bottom: -0.5rem; height: 2rem;
  width: 12%; width: calc(12% - 1rem); background: #cc66cc80;
  border-left: 0.5rem solid #121212; border-right: 0.5rem solid #121212;
}

.header_inner {
  position: relative; z-index: 2; display: flex; flex-wrap: wrap;
  background: #121212; width: 91%; min-height: 56px;
  margin-left: auto; border-radius: 0 0 0 1rem; justify-content: flex-end;
}

/* navigation */

.menu-btn_wrapper {
  display: flex; flex-direction: column; justify-content: flex-end;
  align-items: center; position: relative;
}

#menu-btn,
#viewport-btn {
  background-color: #9999ffe6; margin-bottom: 0.5rem; font-size: 2rem;
  padding: 1rem 2rem 1rem 1rem; border: none; border-radius: 1rem 0 0 1rem;
  display: flex; text-align: center; flex-direction: column;
  justify-content: center; align-items: center;
}

#menu-btn:hover,
#menu-btn:focus,
#viewport-btn:hover,
#viewport-btn:focus {
  background-color: #ccccff;
}

#main_nav    { background-color: #121212; border-radius: 0 0 0 2.57rem;
               width: 100%; font-weight: 500; overflow: hidden; }
#main_nav ul { display: block; list-style: none; }
#main_nav li { max-width: 200px; }
#main_nav a,
button.logout { color: #121212; background-color: #9999ffe6;
                display: block; margin: 0.5rem 0 1rem 1rem; padding: 1rem;
                text-decoration: none; text-align: right; border-radius: 1rem 0 0 1rem; }

.list-link {text-decoration: none; color: inherit;}
.same-ships { width: 45%; min-width: 300px; border-radius: 10px;
              border: 1px solid #ffca92e6; }

.mobile-center {text-align: center;}

/* Generic Button features */
.lcars_btn { color: #121212; text-align: center; display: inline-block;
             border: none; text-decoration: none; padding: 0.25rem 1rem; font-weight: 500; }
.lcars_btn:hover, .lcars_btn:focus {color: #121212;}
.lcars_end_cap { padding: 0.25rem 1rem; }

/* Button sizes */
.small_btn { max-width: 124px; margin: 0; z-index: 100; }

/* Button Colours */
.orange_btn       { background-color: #ff9400e6; }
.orange_btn:hover { background-color: #ff9400; }

.beige_btn        { background-color: #ffca92e6; }
.beige_btn:hover  { background-color: #ffca92; }

.red_btn          { background-color: #dc5e64e6; }
.red_btn:hover    { background-color: #dc5e64; }

.pink_btn         { background-color: #db5d9ae6; }
.pink_btn:hover   { background-color: #db5d9a; }

.purple_btn       { background-color: #9c96ffe6; }
.purple_btn:hover { background-color: #9c96ff; }

.rose_btn         { background-color: #d495cfe6; }
.rose_btn:hover   { background-color: #d495cf; }

.blue_btn         { background-color: #5898ffe6; }
.blue_btn:hover   { background-color: #5898ff; }

.search_btn       { border-top-left-radius: 0; border-bottom-left-radius: 0;}
.search_input     { border-top-right-radius: 0; border-bottom-right-radius: 0;}

.header_btn       { min-width: 88px; font-size: 0.875em; text-align: center; margin: 4px 4px;}

/* Button Shapes */

.all_square  { border-radius: 0    0    0    0   ; margin: 0.5rem  4px; }
.left_round  { border-radius: 1rem 0    0    1rem; margin: 0.5rem  4px; }
.right_round { border-radius: 0    1rem 1rem 0;    margin: 0.5rem  4px; }
.all_round   { border-radius: 1rem 1rem 1rem 1rem; margin: 0.5rem  4px; }

#main_nav a:hover,
#main_nav a:focus {
  background-color: #ccccff;
}

#main_header hgroup {
  display: flex; flex-direction: column; justify-content: center;
  padding: 1rem; flex-grow: 2; overflow: hidden;
}

#main_header hgroup span {
  color: #555555;
}

#main_header hgroup h1 {
  line-height: 1; font-weight: 700;
}

#main_header hgroup h2 {
  font-size: 1.38rem;
}

/* Main Content */

.content_wrapper {
  position: relative; margin: 1rem 0 1rem 0; background-color: #9999ff9e;
  border-radius: 2.47rem 0 0 2.47rem; padding-top: 1rem; padding-bottom: 1rem;
}

.content_wrapper::before {
  content: ""; position: absolute; top: 0; left: 50%; height: 1.1rem;
  /* width: 24%; */
  width: calc(24% - 1rem); background: #cc66cc40;
  border-left: 0.5rem solid #121212; border-right: 0.5rem solid #121212;
}

.content_wrapper::after {
  content: ""; position: absolute; top: 48px; left: 0;
  width: 10%; height: calc(28.5% - 1rem); max-height: 136px;
  background: #cc66cc40; color: #121212; text-align: right; padding-right: 1rem; vertical-align: baseline;
  border-top: 0.5rem solid #121212; border-bottom: 0.5rem solid #121212; font-weight: 400;
}

.content_container {
  position: relative; z-index: 1; background-color: #121212; width: 92%; margin: 0 0 0 auto;
  border-radius: 1.5rem 0 0 1.5rem; padding: 0.5rem; box-sizing: border-box; overflow: hidden;
  /* min-height: calc(100vh - 178px);  */
}

.article_content p {
  display: block; color: #eeeeeee6;
  margin: 0.5rem 0; font-size: 2rem;
}

.article_content li {
  font-size: 1.5rem;
}

article footer {
  display: flex; justify-content: flex-end; flex-wrap: wrap;
  color: #eeeeee80; font-size: 0.8rem; font-weight: 300;
}

article footer p {
  padding-left: 0.5rem;
}

.footer_bar {
  position: relative; height: 0.62rem; display: block;
  width: 100%; margin: 0.25rem 0 1rem;
  background-color: #ffffff1a; border-radius: 0.31rem;
}

.footer_bar::after {
  content: ""; position: absolute; top: 0; bottom: 0;
  right: 9.5%; width: 5%; box-sizing: border-box;
  border-left: 0.5rem solid #121212; border-right: 0.5rem solid #121212;
  background-color: rgba(102, 136, 153, 0.2);
}

.footer_bar::before {
  content: ""; position: absolute; top: 0; bottom: 0; left: 18%; width: 50%;
  box-sizing: border-box;
  border-left: 0.5rem solid #121212; border-right: 0.5rem solid #121212;
  background-color: rgba(0, 0, 0, 0.3);
}

#main_footer {
  margin: 0.5rem 0 0 0;
  background-color: #9999ff9e; color: #eeeeee9e;
  border-radius: 1.62rem 0 0 0; padding-top: 0.5rem; position: relative;
}

#main_footer::after {
  content: ""; z-index: 0; position: absolute; top: 0; left: 50%;
  height: 1rem; width: 24%; width: calc(24% - 1rem);
  background: #cc66cc40;
  border-left: 0.5rem solid #121212; border-right: 0.5rem solid #121212;
}

.main_footer_content {
  background-color: #121212; width: 91%; margin-left: auto;
  padding: 1rem; box-sizing: border-box; border-radius: 1rem 0 0 0;
}

@media screen and (min-width: 639px) {
  #main_header { padding-bottom: 1rem; border-radius: 0 0 0 2.47rem; }
  #main_header hgroup { padding: 1.62rem; }

  #menu-btn { margin-bottom: 1rem; }
  #viewport-btn { margin-top: 1rem; }

  #menu-btn,
  #viewport-btn { border-radius: 1.5rem 0 0 1.5rem; }

  .header_inner { border-radius: 0 0 0 1.5rem; padding: 0 8px; }

  #main_nav ul { display: flex; justify-content: flex-end; padding-top: 0.5rem; }
  #main_nav li { width: 25%; max-width: 200px; }
  #main_nav a  { position: relative; box-sizing: border-box; border-radius: 1rem;
                 padding: 0.5rem; margin: 0 0 0 1rem; }

  .left-delete  { position: absolute; top: 8px; left: 8px; width: 40px; height: 40px; z-index: 200; }
  .right-edit { position: absolute; top: 8px; left: 8px; width: 40px; height: 40px; z-index: 200; }
  .middle { transition: 0.5s ease; opacity: 0; text-align: center; }

  /* Typography */

  h1, .h1cell { font-size: 2rem; color: #ffffffde; }
  h2, .h2cell,
  #main_header hgroup h2 { font-size: 1.5rem; }
  h3, .h3cell { font-size: 1.48rem; color: #8066af; }
  h4, .h4cell { font-size: 1.38rem; color: #dd8100; }
  h5, .h5cell { font-size: 1.28rem; color: #ffdd22e6; }
  h6, .h6cell { font-size: 1.18rem; color: #ffffffde; }
  .ship_list  { font-size: 1rem; color: #ffffffde; }

  .h6cell { font-size: 1.18rem; color: #ffffffde; text-align: justify;
            text-justify: inter-word; font-weight: 400; line-height: 1.2; }
  
  .profile-summary h3, .list-group h3, .list-group h4, .list-group h5,
  .h3cell, .h4cell, .h5cell { font-size: 1.18rem; }

  .footer_bar  { height: 1rem; border-radius: 0.5rem; }

  #main_footer { margin: 1rem 0 0 0; border-radius: 2.47rem 0 0 0; padding-top: 1rem; }
  .main_footer_content { padding: 1.62rem; border-radius: 1.5rem 0 0 0; }

  .lcars_btn  { padding: 8px 24px; font-weight: 500; min-width: 96px; }
  .lcars_end_cap { padding: 8px 16px;}
  .header_btn { min-width: 124px; font-size: 1rem; padding: 8px 24px; margin: 4px 4px; }

  .load-img      { max-width: 600px; }
  .officer-pics  { max-height: 256px; max-width: 256px; }
  .starship-pics { height: auto; width: 50vw; max-width: 352px; }

  .list-footer { position: absolute; bottom: 0; width: calc(100% - 16px);}
  .list-modal-content-container {padding: 0 0.5rem;}
  .list-cards { margin: 8px 0; }
  .list-cards .h3cell, .list-cards .h5cell, .list-cards .h6cell {font-size: 1rem; }
  .footer-btn {padding: 4px 24px;}
}

.modal-main-body {
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  border-radius: 2.57rem 0 0 2.57rem;
}

.modal-open   { animation: modal-change 1s ease-in-out; }
.modal-appear { animation: modal-appear 1.25s ease-in-out; }
.modal-close  { animation: modal-change 2s ease-in-out 0.5s backwards;}

@keyframes modal-change {
  0% {transform: scale(0,0)}
  50% {transform: scale(1,0.01)}
  100% {transform: scale(1,1)}
}

@keyframes modal-appear {
  0% {opacity: 0;}
  99% {opacity: 0;}
  100% {opacity: 1;}
}

.modal-overlay { position: fixed; top: 0; left: 0; z-index: 40; width: 100vw;
                 height: 100vh; background-color: #121212; opacity: 0.25; }
.modal-wrapper { position: fixed; top: 0; left: 0; z-index: 50; width: 100%;
                 height: 100vh; overflow-x: hidden; overflow-y: auto; outline: 0; }

.cropper { height: 350px; position: relative; }

.modal-bg { z-index: 100; color: #ffffffde; position: relative; text-align: center;
            border-radius: 10px; padding: 2rem; backdrop-filter: blur(50px); 
            box-shadow: 8px 8px 4px 4px #12121266, -8px -8px 4px 4px #12121266,
                       -8px 8px 4px 4px #12121266,  8px -8px 4px 4px #12121266; }

/* ------ Upload Modal --------------------------------------------------------------- */

.upload-modal { max-width: 400px; }

.modal-content-wrapper {
  position: relative; margin: 4.94rem auto; background-color: #9999ff9e;
  border-radius: 2.47rem 0 0 2.47rem; padding-top: 1rem; padding-bottom: 1rem;
}

.modal-content-wrapper::before {
  content: ""; position: absolute; top: 0; left: 50%; height: 1.1rem;
  width: calc(24% - 1rem); background: #db5d9abb;
  border-left: 0.5rem solid #121212; border-right: 0.5rem solid #121212;
}

.modal-content-wrapper::after { 
  content: ""; position: absolute; top: 20%; left: 0; 
  width: 10%; height: 28.5%; min-height: 24px;
  background: #db5d9abb; border-top: 0.5rem solid #121212;
  border-bottom: 0.5rem solid #121212;
}

.modal-content-container {
  position: relative; z-index: 1; background-color: #121212;
  width: 110%; border-radius: 2.47rem 0 0 2.47rem; margin: 0 0 0 auto; padding: 1rem;
  min-height: 400px; box-sizing: border-box; overflow: hidden;
}

/* ------------------------------------------------------------------------------------ */

.events-modal-container {
  position: relative; z-index: 1; background-color: #121212;
  width: 103%; border-radius: 2.47rem 0 0 2.47rem; margin: 0 0 0 auto; padding: 1rem;
   box-sizing: border-box; overflow: hidden;
}

.events-modal { border-radius: 2.57rem 0 0 2.57rem; width: 80%; 
                min-width: 376px; max-width: 960px; padding: 1rem 2rem; }

.events-modal-content-wrapper::before {
  content: ""; position: absolute; top: 0; left: 50%; height: 1.1rem;
  width: calc(24% - 1rem); background: #ff9400e6;
  border-left: 0.5rem solid #121212; border-right: 0.5rem solid #121212;
}

.events-modal-content-wrapper::after { 
  content: ""; position: absolute; top: 9.5%; left: 0; 
  width: 10%; height: 28.5%; height: calc(28.5% - 1rem);
  background: #ff9400e6; border-top: 0.5rem solid #121212;
  border-bottom: 0.5rem solid #121212;
}

/* ------ Upload & Resize Modal ------------------------------------------------------- */

.resize-modal { max-width: 800px; }

.resize-modal-content-wrapper {
  position: relative; margin: 2.47rem auto; background-color: #ff9400;
  border-radius: 2.47rem; padding-top: 1rem; padding-bottom: 1rem;
}

.resize-modal-content-mask {
  position: relative; z-index: 1; background-color: #121212; width: 90%;
  height: 100%; box-sizing: border-box;
}

.resize-modal-content-container {
  position: relative; z-index: 2; background-color: #121212; width: 100%; 
  border-radius: 1rem; margin: 0 0 0 auto; padding: 1rem; min-height: 500px; 
  box-sizing: border-box; overflow: hidden;
}

.resize-modal-content-wrapper::before { 
  content: ""; position: absolute; top: 0; left: 7%; width: 86%; height: 5%; background: #121212;
}

.resize-modal-content-wrapper::after { 
  content: ""; position: absolute; bottom: 0; left: 7%; width: 86%; height: 5%; background: #121212;
}

/* ------------------------------------------------------------------------------------ */

.login-modal { max-width: 448px; max-height: 304px; }

/* -------- List Modals --------------------------------------------------------------- */

.list-modal {width: 100%; max-width: 960px; height: 90vh; border: 0.5px solid #3D3D3D;}

.list-modal-content-wrapper {
  position: relative; margin: 2rem auto; background-color: #121212;
  border-radius: 2.47rem; padding: 1rem;
}

.list-modal-content-container {
  position: relative; z-index: 2; background-color: #121212;
  width: 100%; border-radius: 1rem; margin: 0 0 0 auto; padding: 0;
  height: 100%; box-sizing: border-box; overflow: hidden;
}

.list-footer { position: absolute; bottom: 0; width: 100%;}
.footer-btn {padding: 4px 24px;}

/* ------------------------------------------------------------------------------------ */

@media screen and (max-width: 639px) {
  .row {margin: 0 auto;}
  .list-cards {width: calc(50% - 4px); padding: 4px; font-size: 1rem;}

  .resize-modal-content-wrapper::before { left: 12.5%; width: 75%; }
  
  .resize-modal-content-wrapper::after  { left: 12.5%; width: 75%; }
  
}

@media screen and (max-width: 689px) {
  .small_hide {display: block}
}