.nav-buffer {
  height: 64px;
}

.input-size {
  max-width: 400px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #0f0f0f;
  min-width: 360px;
}

main {
  height: 100%;
}
.container {
  margin: 1rem auto;
  height: 96%;
  width: 96%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "clock"
    "header"
    "main";
  color: #eee;
  font-family: oswald, helvetica, serif;
  font-weight: 300;
}

.header {
  grid-area: header;
}

.main_body {
  grid-area: main;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

button:hover,
a {
  cursor: pointer;
}

a {
  color: #6699ff;
}

a:hover,
a:focus {
  color: #99bbff;
}

time {
  height: 1.81rem;
  font-weight: 400;
}

.topbar {
  grid-area: clock;
  text-transform: uppercase;
  background: rgba(153, 153, 255, 0.62);
  display: flex;
  justify-content: flex-end;
  border-radius: 0 1rem 1rem 0;
  line-height: 1;
  animation: fromRight 1.2s ease-in-out;
}

.time_wrapper {
  position: relative;
  color: rgba(153, 153, 255, 0.9);
  display: inline-block;
  background-color: #0f0f0f;
  margin-right: 3rem;
  padding: 0 1rem;
  grid: flex;
  align-items: center;
}

.time_wrapper::before,
.time_wrapper::after {
  content: "";
  position: absolute;
  left: -2rem;
  top: 0;
  bottom: 0;
  width: 0.5rem;
  background-color: #0f0f0f;
}

.time_wrapper::after {
  left: -3rem;
  width: 0.5rem;
}

#main_header {
  position: relative;
  z-index: 1;
  margin: 0.5rem 0 0 0;
  background-color: rgba(153, 153, 255, 0.62);
  border-radius: 0 0 0 1.62rem;
  padding-bottom: 0.5rem;
  animation: fromTop 1000ms, fadeIn 500ms;
}

#main_header::before,
#main_header::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 33.3%;
  height: calc(33.3% - 0.5rem);
  width: 10%;
  background-color: rgba(0, 0, 0, 0.33);
  border-bottom: 0.5rem solid #0f0f0f;
}

#main_header::after {
  left: 50%;
  top: auto;
  bottom: -0.5rem;
  height: 1.1rem;
  width: 12%;
  width: calc(12% - 1rem);
  background: rgba(204, 102, 204, 0.5);
  border-left: 0.5rem solid #0f0f0f;
  border-right: 0.5rem solid #0f0f0f;
  transform: translateX(-100%);
}

.header_inner {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  background: #0f0f0f;
  width: 91%;
  min-height: 100px;
  margin-left: auto;
  border-radius: 0 0 0 1rem;
}

/* navigation */

.menu-btn_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

#menu-btn,
#viewport-btn {
  background-color: rgba(153, 153, 255, 0.9);
  margin-bottom: 0.5rem;
  font-size: 2rem;
  padding: 1rem 2rem 1rem 1rem;
  border: none;
  border-radius: 1rem 0 0 1rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 50ms ease-in-out;
}

#menu-btn:hover,
#menu-btn:focus,
#viewport-btn:hover,
#viewport-btn:focus {
  background-color: rgba(204, 204, 255, 1);
}

#main_nav {
  width: 100%;
  font-weight: 400;
}

#main_nav {
  max-height: 0px;
  overflow: hidden;
  transition: 500ms ease-in-out;
}

#main_nav.active,
#search_nav.active {
  max-height: 1000px;
}

#main_nav ul {
  display: block;
  list-style: none;
}

#main_nav a,
button.logout {
  color: #0f0f0f;
  background-color: rgba(153, 153, 255, 0.9);
  display: block;
  margin: 0.5rem 0 1rem 1rem;
  padding: 1rem;
  text-decoration: none;
  text-align: right;
  border-radius: 1rem 0 0 1rem;
  transition: 50ms ease-in-out;
}

#edit_btn {
  color: #0f0f0f;
  background-color: #fa9013e6;
  text-align: right;
  text-decoration: none;
  padding: 0.5rem;
  font-weight: 400;
}

.left_btn {
  border-radius: 1rem 0 0 1rem;
  margin: 0.5rem 0 1rem 1rem;
}

.right_btn {
  border-radius: 0 1rem 1rem 0;
  margin: 0.5rem 0 1rem 2px;
}

#main_nav a:hover,
#main_nav a:focus {
  background-color: rgba(204, 204, 255, 1);
}

#main_header hgroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  flex-grow: 2;
  overflow: hidden;
}

#main_header hgroup span {
  color: #555;
}

#main_header hgroup h1 {
  line-height: 1;
  font-weight: 700;
}

#main_header hgroup h1,
#main_header hgroup h2 {
  animation: fromLeft 2s;
}

#main_header hgroup h2 {
  font-size: 1.38rem;
}

h2,
.topbar-title {
  color: rgba(255, 221, 34, 0.9);
  font-size: 1.24rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.38rem;
  color: rgb(204, 153, 102);
  text-transform: uppercase;
}

h4 {
  font-size: 1.18rem;
  text-transform: uppercase;
}

/* Main Content */

.content_wrapper {
  position: relative;
  margin: 0.5rem 0 0 0;
  background-color: rgba(153, 153, 255, 0.62);
  border-radius: 1.62rem 0 0 1.62rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  animation: fromRight 1.2s ease-in-out;
}

.content_wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 1.1rem;
  /* width: 24%; */
  width: calc(24% - 1rem);
  background: rgba(204, 102, 204, 0.25);
  border-left: 0.5rem solid #0f0f0f;
  border-right: 0.5rem solid #0f0f0f;
  transform: translateX(-100%);
}

.content_wrapper::after {
  content: "";
  position: absolute;
  top: 9.5%;
  left: 0;
  width: 10%;
  height: 28.5%;
  height: calc(28.5% - 1rem);
  background: rgba(204, 102, 204, 0.25);
  border-top: 0.5rem solid #0f0f0f;
  border-bottom: 0.5rem solid #0f0f0f;
}

.content_container {
  position: relative;
  z-index: 1;
  background-color: #0f0f0f;
  width: 91%;
  border-radius: 1rem 0 0 1rem;
  margin: 0 0 0 auto;
  padding: 1rem;
  min-height: 300px;
  box-sizing: border-box;
  overflow: hidden;
  /* text-align: center; */
}

.article_content p {
  display: block;
  color: rgba(238, 238, 238, 0.9);
  margin: 0.5rem 0;
  max-width: 720px;
}

article footer {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  color: rgba(238, 238, 238, 0.5);
  font-size: 0.8rem;
  font-weight: 300;
}

article footer p {
  padding-left: 0.5rem;
}

.footer_bar {
  position: relative;
  height: 0.62rem;
  display: block;
  width: 100%;
  margin: 0.25rem 0 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.31rem;
}

.footer_bar::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 9.5%;
  width: 5%;
  box-sizing: border-box;
  border-left: 0.5rem solid #0f0f0f;
  border-right: 0.5rem solid #0f0f0f;
  background-color: rgba(102, 136, 153, 0.2);
}

.footer_bar::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 18%;
  width: 50%;
  box-sizing: border-box;
  border-left: 0.5rem solid #0f0f0f;
  border-right: 0.5rem solid #0f0f0f;
  background-color: rgba(0, 0, 0, 0.3);
}

#main_footer {
  margin: 0.5rem 0 0 0;
  background-color: rgba(153, 153, 255, 0.62);
  color: rgba(238, 238, 238, 0.62);
  border-radius: 1.62rem 0 0 0;
  padding-top: 0.5rem;
  position: relative;
}

#main_footer::after {
  content: "";
  z-index: 0;
  position: absolute;
  top: 0;
  left: 50%;
  height: 1rem;
  width: 24%;
  width: calc(24% - 1rem);
  background: rgba(204, 102, 204, 0.25);
  border-left: 0.5rem solid #0f0f0f;
  border-right: 0.5rem solid #0f0f0f;
  transform: translateX(-100%);
}

.main_footer_content {
  background-color: #0f0f0f;
  width: 91%;
  margin-left: auto;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 1rem 0 0 0;
}

@media screen and (min-width: 639px) {
  #main_header {
    padding-bottom: 1rem;
  }

  #main_header hgroup {
    padding: 1.62rem;
  }

  #menu-btn {
    margin-bottom: 1rem;
  }

  #viewport-btn {
    margin-top: 1rem;
  }

  #menu-btn,
  #viewport-btn {
    border-radius: 1.5rem 0 0 1.5rem;
  }

  #main_header {
    border-radius: 0 0 0 2.47rem;
  }

  .header_inner {
    border-radius: 0 0 0 1.5rem;
  }

  #main_nav ul {
    display: flex;
    justify-content: flex-end;
    padding-top: 0.5rem;
  }

  #main_nav li {
    width: 20%;
  }

  #main_nav a {
    position: relative;
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0 0 0 1rem;
  }

  #main_nav.active a {
    animation: fadeIn 700ms;
  }

  /*
        #main_nav a::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 2rem;
            border-left: 0.5rem solid #0f0f0f;
            background-color: rgba(0,0,0,0.23);
        }
        */

  .content_wrapper {
    margin: 1rem 0 1rem 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 2.47rem 0 0 2.47rem;
  }

  .content_container {
    border-radius: 1.5rem 0 0 1.5rem;
    padding: 1.62rem;
  }

  /* Typography */

  h1 {
    font-size: 3rem;
  }

  h2,
  #main_header hgroup h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.62rem;
  }

  h4 {
    font-size: 1.18rem;
  }

  .footer_bar {
    height: 1rem;
    border-radius: 0.5rem;
  }

  #main_footer {
    margin: 1rem 0 0 0;
    border-radius: 2.47rem 0 0 0;
    padding-top: 1rem;
  }

  .main_footer_content {
    padding: 1.62rem;
    border-radius: 1.5rem 0 0 0;
  }
}

/* Animations

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes fromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
} */
