server/db.js
server/test.env
server/dev.env

README.md
LCARS-Graphic.png

project-two/
.DS_Store
client/_oldFiles/ModalUpload.js
client/_oldFiles/ModalUploadCropper.js
client/_oldFiles/UseModalUpload.js
client/_oldFiles/UseModalUploadCropper.js
APIKey.txt
client/cert.pem
client/key.pem
.gitignore
client/server.crt
client/server.key
client/localhost.cer
client/cypress.json
client/cypress.env.json
