<div className="row mt-5">
  <div className="col-md-6 m-auto">
    <div className="card card-body text-center card-shadow">
      <h1><i className="fab fa-node-js fa-3x"></i></h1>
      <%- include ("./partials/messages"); %>
        <p>Enter a string of numbers (seperated by ,)<br />to insert into a binary search tree</p>
        <form action="/" method="POST">
          <div className="form-group">
            <input type="text" id="numbers" name="numbers" className="form-control my-2" placeholder="Enter Numbers"
              value="<%= typeof numbers != 'undefined' ? numbers : '' %>" />
          </div>
          <div className="form-group ">
            <input type="radio" name="display_type" value="json" /> JSON
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="display_type" value="treeify" /> Treeify
          </div>
          <div className="form-group text-center mt-3">
            <button type="submit" className="btn btn-primary btn-block">Submit</button>
          </div>
        </form>
    </div>
  </div>
</div>