<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center card-shadow">
      <h1><i class="fab fa-node-js fa-3x"></i></h1>
      <p>This is where the results will be shown</p>
    </div>
  </div>
</div>