<div className="row mt-5">
  <div className="col-md-6 m-auto">
    <div className="card card-body text-center card-shadow">
      <h1><i className="fab fa-node-js fa-3x"></i></h1>
      <a href="/" className="btn btn-primary btn-block mb-2">Try Again??</a>
      <h1>
        <%= label %>
      </h1>
      <div className="results">
        <pre className="results">
        <%= treeResult %>
      </pre>
      </div>
    </div>
  </div>
</div>